/* Use Universal Selector to reset default settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
table {
    width: 100vw;
    margin: 50px auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 15px 0;
    text-align: center;
    color: #5d453b;
    font-weight: 100;
}

td:nth-child(even) {
    background-color: #f8edeb;
}
td:nth-child(odd) {
    background-color: #ffe5d9;
}

th {
    font-size: 15px;
    background-color: #fec89a;
    cursor: pointer;
    font-weight: bold;
}
th:hover {
    background-color: #ffd7ba;
}

/* Action Buttons Styling */
.action-btns {
    padding: 3px 10px;
    cursor: pointer;
    margin-top: 3px;
    display: inline-block;
    color: white;
    font-size: 16px;
    background-color: #a68a64;
    border: #a68a64;
    border-radius: 5px;
}
.action-btns:hover {
    background-color: #936639;
}


.actions {
    width: 10vw;
}